.alert-switch-to-app {
  display: none; }
  @media (hover: none) and (pointer: coarse) and (max-width: 1024px) {
    .alert-switch-to-app {
      position: fixed;
      display: block;
      z-index: 9999;
      width: 100%;
      background-color: white;
      bottom: 0;
      padding: 10px;
      box-sizing: border-box;
      -webkit-box-shadow: -2px -4px 11px -4px #dddddd;
      -moz-box-shadow: -2px -4px 11px -4px #dddddd;
      box-shadow: -2px -4px 11px -4px #dddddd;
      text-align: center; }
      .alert-switch-to-app .app-logo {
        width: 50px; }
      .alert-switch-to-app .app-title {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px; }
      .alert-switch-to-app .app-link {
        display: inline-block;
        width: calc(50% - 5px);
        text-align: center;
        font-weight: bold;
        background-color: #1e88e5;
        box-sizing: border-box;
        padding: 10px 15px;
        color: #ffffff;
        border-radius: 4px;
        font-size: 13px;
        margin-left: 5px;
        text-decoration: none; }
      .alert-switch-to-app .app-ignore {
        outline: none;
        border: none;
        background-color: #ffffff;
        width: calc(50% - 5px);
        padding: 10px;
        margin-right: 5px;
        font-size: 13px;
        text-align: center;
        color: #5d7784; } }
