@import '../../stylesheet/variables';

.team-space-wrapper {
  padding: 15px 45px;
  text-align: center;
  direction: ltr;
  .loading-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .clasor-wrapper {
    display: inline-block;
    width: 100%;
    margin: 0 0;
    border-top: 1px solid $borderColor;
    padding-top: 60px;
    position: relative;
    min-height: 250px;
  }
  .clasor-form-test {
    form {
      display: flex;
      flex-direction: column;
      margin: auto;
      padding-bottom: 50px;
    }
  }
  .clasor-form-btn {
    margin-top: 15px;
  }
  .title {
    font-family: YekanBakh;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: $textColor;
  }
  form {
    padding: 15px 0;
    display: inline-block;
    max-width: 450px;
    width: 100%;
    .file-input {
      position: relative;
      display: inline-block;
      width: 75px;
      height: 75px;
      border: 1px solid $borderColor;
      border-radius: 2px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      overflow: hidden;
      cursor: pointer;
    }
    .custom-file-input::-webkit-file-upload-button {
      visibility: hidden;
    }
    .custom-file-input::before {
      content: '';
      display: inline-block;
      background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
      border: 1px solid #999;
      border-radius: 3px;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-weight: 700;
      font-size: 10pt;
    }
    .custom-file-input:hover::before {
      border-color: black;
    }
    .custom-file-input:active::before {
      background: -webkit-linear-gradient(to bottom, #e3e3e3, #f9f9f9);
    }
    .bp3-form-group {
      margin-bottom: 30px;
      .bp3-label {
        color: $labelColor;
        font-size: 13px;
        font-weight: bold;
      }
      .bp3-input {
        min-width: 265px;
      }
      .option {
        display: flex;
        font-size: 13px;
        margin: 10px 0;
        cursor: pointer;
      }
      &.privacy {
        border-top: 1px solid $borderColor;
      }
      &.avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 35px;
          height: 35px;
        }
        .custom-file-input {
          position: absolute;
          right: 0;
          left: 0;
          display: inline-block;
          opacity: 0;
          cursor: pointer;
          max-width: 55px;
          height: 30px;
        }
      }
    }
    .action-buttons {
      button {
        min-width: 100px;
        float: left;
      }
      .label-success {
        font-size: 14px;
        font-family: YekanBakh;
      }
    }
    .error {
      label {
        display: inline-block;
        color: $danger-color-500;
        font-size: 13px;
        padding: 10px 0;
      }
    }
  }
}
