// Fonts
$font-dir-path: '../assets/fonts/';
$font-family-fa: 'yekanbakh' !default;
$font-family-en: 'roboto' !default;

// Icons
$icomoon-font-family: 'icon' !default;
$icomoon-font-path: '../assets/fonts' !default;

$icon-info: '\e90e';
$icon-menu: '\e762';
$icon-thumb-view: '\e90a';
$icon-list-view: '\e90b';
$icon-back: '\e90c';
$icon-to-left: '\e90d';
$icon-file: '\e908';
$icon-folder: '\e909';
$icon-pin: '\e906';
$icon-close: '\e907';
$icon-star: '\e900';
$icon-trash: '\e901';
$icon-box: '\e902';
$icon-time-circle: '\e903';
$icon-upload: '\e904';
$icon-personal-folder: '\e905';


////////////////////////////////////////colors
$main-color-100: #FFF;
$oddTableRows:#efefef;
$theadColor:#f3f3f3;
$labelColor: #707070;
$defaultColor: #78909c;
$defaultTextColor: #90a4ae;
$borderColor:#e7e9ec;
$disabledColor:#e0e0e0;
$primary-color-500 : #3d86ff;
$success-color-500 : #18c658;
$danger-color-500 :#f30d0d;
$textColor: #263238;
$disableButtonColor: rgba(206, 217, 224, 0.5);
$disableColorButton:rgba(92, 112, 128, 0.5);
$disableBackgroudButton:rgba(206, 217, 224, 0.5);