.account-settings{
    .selector-container{
        display: flex;
        margin: 15px 0;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .options-container{
            display: flex;
            width: 100%;

            .option{
                display: flex;
                width: auto;
                align-items: center;
                cursor: pointer;
                margin: 0 15px;
                min-width: 135px;
                input{
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                }
                .bp3-control-indicator{
                    font-size: 14px;
                    margin-right: 15px;
                }
            }
            @media screen and (max-width: 768px) {
                flex-direction: column;
                .option{
                    margin: 5px 15px;
                }
            }
        }
    }
}