.terms-wrapper {
    max-height: 70vh;
    overflow-y: scroll;
}

.terms-wrapper-full-height {
    height: 100vh;
    overflow-y: scroll;
}

.terms-condition {
    width: 900px;
    margin: 10px;
}

.terms-title {
    font-size: 16px;
    color: #282828;
    font-weight: bold;
}

.ul-terms {
    margin: 0 0 80px 0;
    padding: 0 40px 0 15px;
    line-height: 32px;
    font-size: 13px;
}

.li-terms {
    padding: 0;
    margin: 0;
    color: #282828;
    font-weight: normal;
}